@media (max-width: 982px) {
  #howItWorks {
    padding: 50px;
  }

  #properties {
    padding: 0px 50px;
  }

  #agents {
    padding: 50px;
  }

  #about {
    padding: 50px;
  }

  #services {
    padding: 25px;
  }

  #testimonials {
    padding: 50px;
  }

  #contact {
    padding: 50px;
  }

  #footer {
    padding: 50px;
  }

  #nav-toggle {
    display: block;
  }

  .hamburger-menu .strip {
    display: block;
  }

  .nav-list {
    position: fixed;
    top: 0;
    background: rgba(52, 58, 64, 0.9);
    height: 100%;
    right: -100%;
    margin: 0;
    width: 50%;
    box-sizing: border-box;
    padding: 0rem;
    box-shadow: 5px 0 10px 3px #999;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 20px;
  }

  .close-flyout {
    display: block;
    position: absolute;
    top: 0.3rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0;
    line-height: 1;
  }

  .nav-list li {
    display: block;
    margin: 18px 0px;
  }

  .nav-list li:first-child {
    margin-top: 50px;
  }

  .nav-list li a {
    color: #ffffff;
    font-size: 21px;
  }
  .nav-list.is-sticky li a {
    color: #fff;
  }
  .nav-list li a:active,
  .nav-list li a:hover {
    color: #f69314;
  }

  .searchBar {
    flex-direction: column;
  }

  #search {
    width: 70%;
    height: 90%;
  }

  .btn-primary {
    width: 20%;
    margin-top: 12px;
  }

  .primary-heading {
    padding-left: 0;
  }

  .sub-heading {
    padding-left: 0;
  }

  .searchBar i {
    top: 32px;
    left: 15px;
  }

  /* property styling */

  #properties .rounded {
    width: 45%;
  }

  .about-container img {
    width: 50%;
  }

  .testimonials-slider blockquote {
    font-size: 1.2rem;
    margin: 1.5rem auto 3.2rem;
    max-width: 510px;
  }

  .address-container {
    padding-left: 5rem;
  }

  .footer-subscribe .subscribe-input {
    width: 80%;
  }

  .subscribe-input input {
    height: 40px;
  }

  .subscribe-input button {
    right: 20px;
    width: 75px;
    height: 40px;
  }
}

@media (max-width: 779px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  .home-container {
    width: 80%;
    height: 20%;
  }

  .primary-heading {
    font-size: 2.5rem;
  }

  #howItWorks .flex > div {
    width: 30%;
  }

  #howItWorks h4 {
    font-size: 1.2rem;
  }

  #howItWorks p {
    font-size: 0.8rem;
  }

  #property-slider .slick-arrow {
    font-size: 0.9rem;
  }

  .property-container::before {
    top: 11px;
  }

  .property-details span {
    font-size: 0.7rem;
    padding-right: 0px;
  }

  .property-details .baths,
  .property-details .sqft {
    padding-left: 3px;
  }

  .property-details address {
    font-size: 0.8rem;
  }

  #properties .rounded {
    width: 75%;
  }

  #agents .agents-para {
    width: 70%;
    font-size: 1.1rem;
  }

  .card {
    width: 32%;
  }

  .card h3 {
    font-size: 1.3rem;
  }

  .card p {
    font-size: 1rem;
  }

  .card-last {
    display: inline-block;
  }

  .about-container img {
    display: none;
  }

  .about-container-text {
    margin: 0;
  }

  #services .flex > div {
    width: 48%;
  }

  #testimonials {
    padding: 50px;
  }

  .testimonials-slider blockquote {
    font-size: 1.1rem;
    margin: 1.5rem auto 3rem;
    font-style: italic;
    max-width: 440px;
  }

  .contact-container .flex {
    flex-direction: column;
    justify-content: center;
  }

  .form-container {
    width: 80%;
    padding: 1rem;
  }

  .form-container h3 {
    text-align: start;
  }

  .address-container {
    padding: 3rem 1rem;
  }

  footer .flex {
    flex-wrap: wrap;
  }

  .footer-container > div {
    width: 100%;
    margin-top: 1rem;
  }

  .footer-subscribe .subscribe-input {
    width: 55%;
  }

  .subscribe-input input {
    height: 45px;
    width: 100%;
  }

  .subscribe-input button {
    right: 200px;
    width: 17%;
    height: 45px;
  }
}

@media (max-width: 550px) {
  #howItWorks {
    padding: 20px;
  }

  #properties {
    padding: 0px 20px;
  }

  #agents {
    padding: 50px;
  }

  #about {
    padding: 20px;
    padding-left: 30px;
  }

  #services {
    padding: 20px;
  }

  #testimonials {
    padding: 15px;
  }

  #contact {
    padding: 20px;
  }

  #footer {
    padding: 20px;
  }

  .logo {
    margin-left: 5px;
  }
  /* home styling starts */

  .home-container {
    width: 100%;
    height: 20%;
  }

  #home-heading {
    width: 87%;
  }

  .primary-heading {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .sub-heading {
    width: 100%;
  }

  .searchBar {
    width: 87%;
  }

  .btn-primary {
    width: 22%;
  }

  .searchBar i {
    top: 29px;
    left: 14px;
  }
  /* How It works styling starts */

  #howItWorks h2 {
    margin-top: 1rem;
  }
  .howItWorks-containers {
    flex-wrap: wrap;
  }

  #howItWorks .flex > div {
    width: 100%;
    padding: 0 6px;
    margin-bottom: 2rem;
  }

  #howItWorks h4 {
    font-size: 1.2rem;
  }

  #howItWorks p {
    font-size: 0.8rem;
  }

  /* Properties styling starts */

  .property-container {
    margin-top: 1rem;
  }
  .property-container h2 {
    margin-bottom: 2rem;
  }
  #property-slider {
    padding: 18px;
  }
  #property-slider div img {
    width: 100%;
  }
  #properties .rounded {
    width: 70%;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  #property-slider .slick-arrow {
    top: -54px;
  }

  /* Agent styling starts */

  #agents h2 {
    margin-bottom: 1rem;
  }
  .agents-container {
    margin-bottom: 0;
  }
  #agents .agents-para {
    width: 90%;
    font-size: 1rem;
  }
  .card {
    width: 100%;
  }
  .card h3 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1.1rem;
  }

  /* About styling starts */

  .about-container-text h2 {
    font-size: 1.7rem;
    margin-top: 1.5rem;
  }
  .about-container {
    margin-bottom: 1rem;
  }

  /* Services styling starts */

  #services .flex > div {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
  }

  .services-container {
    margin-bottom: 0px;
  }
  /* Testimonials styling starts */

  .testimonials-container {
    height: 320px;
  }
  .testimonials-container h2 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }

  .testimonials-slider blockquote {
    font-size: 0.9rem;
    margin: 1.5rem auto 2rem;
    max-width: 280px;
  }
  .testimonials-slider .slick-arrow {
    font-size: 1rem;
  }
  .testimonials-caption {
    width: 250px;
  }
  .testimonials-caption span {
    font-size: 1rem;
    margin-left: 15px;
  }

  /* Contact styling starts*/

  .contact-container h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  .form-container h3 {
    display: none;
  }
  .form-container {
    width: 95%;
  }
  .form-container input,
  .form-container textarea {
    padding: 8px;
  }

  /* Footer styling starts */

  .footer-subscribe .subscribe-input {
    width: 80%;
  }

  .subscribe-input input {
    height: 35px;
    width: 95%;
  }

  .subscribe-input button {
    right: 68px;
    width: 65px;
    height: 35px;
  }
}
